<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Maklumat Kursus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full">
    <ion-icon slot="start" name="clipboard"></ion-icon>
    <ion-label>
      <ion-text color="primary">
        <h2>Tajuk</h2>
      </ion-text>
      <p>Kursus Pencegahan Kebakaran</p>
    </ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-icon slot="start" name="calendar"></ion-icon>
    <ion-label>
      <ion-text color="primary">
        <h2>Tarikh</h2>
      </ion-text>
      <p>2/10/2019 - 2/10/2019</p>
    </ion-label>
  </ion-item>
<ion-item lines="full">
    <ion-icon slot="start" name="time"></ion-icon>
    <ion-label>
      <ion-text color="primary">
        <h2>Masa</h2>
      </ion-text>
      <p>8.30pg - 5.00ptg</p>
    </ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-icon slot="start" name="pin"></ion-icon>
    <ion-label>
      <ion-text color="primary">
        <h2>Tempat</h2>
      </ion-text>
      <p>Institut Latihan Perindustrian Kuala Lumpur</p>
    </ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-icon slot="start" name="business"></ion-icon>
    <ion-label>
      <ion-text color="primary">
        <h2>Anjuran</h2>
      </ion-text>
      <p>ILPKL</p>
    </ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-icon slot="start" name="ribbon"></ion-icon>
    <ion-label>
        <ion-text color="primary">
            <h2>Jenis Kursus</h2>
          </ion-text>
      <p>TERBUKA</p>
    </ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-icon slot="start" name="contacts"></ion-icon>
    <ion-label>
        <ion-text color="primary">
            <h2>Kapasiti</h2>
          </ion-text>
      <p>5 / 10</p>
    </ion-label>
  </ion-item>
  <ion-button expand="block" color="success" class="ion-padding">
    <ion-icon slot="start" name="checkbox-outline"></ion-icon>
    Mohon
  </ion-button>
</ion-content>
