<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Semak Status</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item [routerLink]="['/check-detail']">
      <ion-label>
        <h3>Kursus Pencagahan Kebakaran</h3>
        <p><ion-icon name="calendar" slot="start" color="tertiary"></ion-icon> Tarikh : 2/10/2019 - 2/10/2019</p>
      </ion-label>
      <ion-badge slot="end" color="warning">SIMPANAN</ion-badge>
    </ion-item>
  </ion-card>

  <ion-card>
      <ion-item [routerLink]="['/check-detail']">
      <ion-label>
        <h3>Kursus Pencagahan Kebakaran</h3>
        <p><ion-icon name="calendar" slot="start" color="tertiary"></ion-icon>Tarikh : 2/10/2019 - 2/10/2019</p>
      </ion-label>
      <ion-badge slot="end" color="success">LULUS</ion-badge>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item [routerLink]="['/check-detail']">
      <ion-label>
        <h3>Kursus Pencagahan Kebakaran</h3>
        <p><ion-icon name="calendar" slot="start" color="tertiary"></ion-icon>Tarikh : 2/10/2019 - 2/10/2019</p>
      </ion-label>
      <ion-badge slot="end" color="danger">DITOLAK</ion-badge>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item [routerLink]="['/check-detail']">
      <ion-label>
        <h3>Kursus Pencagahan Kebakaran</h3>
        <p><ion-icon name="calendar" slot="start" color="tertiary"></ion-icon>Tarikh : 2/10/2019 - 2/10/2019</p>
      </ion-label>
      <ion-badge slot="end" color="warning">SIMPANAN</ion-badge>
    </ion-item>
  </ion-card>
  
  <ion-card>
      <ion-item [routerLink]="['/check-detail']">
      <ion-label>
        <h3>Kursus Pencagahan Kebakaran</h3>
        <p><ion-icon name="calendar" slot="start" color="tertiary"></ion-icon>Tarikh : 2/10/2019 - 2/10/2019</p>
      </ion-label>
      <ion-badge slot="end" color="danger">DITOLAK</ion-badge>
    </ion-item>
  </ion-card>
</ion-content>
