<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Kursus Ditawarkan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item [routerLink]="['/course-detail']">
      <ion-label>
        <h3>Kursus Pencagahan Kebakaran</h3>
        <p><ion-icon name="calendar" slot="start" color="tertiary"></ion-icon> Tarikh : 2/10/2019 - 2/10/2019</p>
        <ion-badge color="primary">TERBUKA</ion-badge>
      </ion-label>
      <ion-badge slot="end" color="warning">5/10</ion-badge>
    </ion-item>
  </ion-card>

  <ion-card>
      <ion-item [routerLink]="['/course-detail']">
      <ion-label>
        <h3>Kursus Pencagahan Kebakaran</h3>
        <p><ion-icon name="calendar" slot="start" color="tertiary"></ion-icon>Tarikh : 2/10/2019 - 2/10/2019</p>
        <ion-badge color="secondary">TERHAD</ion-badge>
      </ion-label>
      <ion-badge slot="end" color="success">0/10</ion-badge>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item [routerLink]="['/course-detail']">
      <ion-label>
        <h3>Kursus Pencagahan Kebakaran</h3>
        <p><ion-icon name="calendar" slot="start" color="tertiary"></ion-icon>Tarikh : 2/10/2019 - 2/10/2019</p>
        <ion-badge color="secondary">TERHAD</ion-badge>
      </ion-label>
      <ion-badge slot="end" color="danger">10/10</ion-badge>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item [routerLink]="['/course-detail']">
      <ion-label>
        <h3>Kursus Pencagahan Kebakaran</h3>
        <p><ion-icon name="calendar" slot="start" color="tertiary"></ion-icon>Tarikh : 2/10/2019 - 2/10/2019</p>
        <ion-badge color="primary">TERBUKA</ion-badge>
      </ion-label>
      <ion-badge slot="end" color="warning">7/10</ion-badge>
    </ion-item>
  </ion-card>
  
  <ion-card>
      <ion-item [routerLink]="['/course-detail']">
      <ion-label>
        <h3>Kursus Pencagahan Kebakaran</h3>
        <p><ion-icon name="calendar" slot="start" color="tertiary"></ion-icon>Tarikh : 2/10/2019 - 2/10/2019</p>
        <ion-badge color="secondary">TERHAD</ion-badge>
      </ion-label>
      <ion-badge slot="end" color="danger">5/5</ion-badge>
    </ion-item>
  </ion-card>
</ion-content>
